:root{
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #FFC107;
    --primarioOS: #784D3C;
    --secundario: #0097A7;
    --gris: #757575;
    --grisOs: #1e1e1e;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para box model */
    scroll-snap-type: y mandatory;/* Efecto de scroll */
}
*, *:before, *:after {
    box-sizing: inherit;
}  

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    line-height: 2;
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/* Utilidades */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

.link__titulo{
    text-decoration: none;
    color: var(--negro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.title__center{
    font-size: 2.4rem;
}
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/* Botones primera generacion */
.botons{
    background-color: var(--secundario);
    padding: 1rem 3rem;
    color: var(--blanco);
    text-decoration: none;
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;/* Transforma textos de minusculas a mayusculas */
    font-weight: bold;
    border-radius: .5rem;/*Sirve para redondear esquinas*/
    width: 90%;
    text-align: center;
    border: none;
}
.botons:hover{/* hoover es para cuando te colocas sobre un enlace */
    cursor: pointer;/* Para que aparezaca la mano de selector en el navegador */
}
@media (min-width: 768px){
    .botons{
        width: auto;
    }
}
/* Fin botones primera generacion */

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;/*Sirve para redondear esquinas*/
}

/* Titulo */

.titulo{
    text-align: center;
    justify-content: center;
}
.logo__imagen{
    max-width: 7%;
    margin-right: 1rem;
}
@media (max-width: 768px) { 
    .logo__imagen{
        max-width: 12%;
        margin-right: auto;
    }
 }

/* Navegacion Principal*/
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px ) { 
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
 }
.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover {/* hover es para que en la navegacion se resalte un color distinto cuando pase el puntero sobre el */
    background-color: var(--primario);
    color: var(--negro);
}
.navegacion__enlace{
    display: inline-block;
}

/* Hero */
.banner{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat; /* para que no se repita la imagen cuando el zoom sea menor a 100% */
    background-size: cover; /* Para que la imagen se ajuste al tamaño de pantalla */
    height: 41rem;
    background-position: center center;
    margin-bottom: 2rem;/* Separar la imagen con el texto de abajo */
}
.contenidoBannerPrincipal{
    background-color: rgba(0, 0, 0 , .7);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenidoBannerPrincipal h2,
.contenidoBannerPrincipal p{
    color: var(--blanco);
    
}
.contenidoBannerPrincipal .ubicacion{
    display: flex;
    align-items: flex-end; /* Alinear el texto con la imagen de la parte principal */
}

/* Entrada */
@media (min-width: 768px) { 
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
        margin-top: 2rem;
    }
}
.entrada{
    border-bottom: 1px solid var(--grisOs);
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}
.entrada__imagen{
    width: 100%;
}
.entrada__contenido .no-margin{
    margin-top: 1rem;
}

.boton{
    display: block;/* Hace que tome todo el espacio disponoble y sirve mas para dipositivos moviles */
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    text-decoration: none;
}
@media (min-width: 768px) { 
    .boton{
        display: inline-block;/* Inline-block sirve para que el boton tome el espacio necesario y en caso de necesitar un margin o width lo aplique y no lo rechace como si fuera solo un "inline" */

    }
 }
.boton--primario{
    background-color: var(--negro);
}
.boton--secundario{
    background-color: var(--primarioOS);
}
.cursos{
    list-style: none;
}
.linea{
    border-bottom: 1px solid var(--primarioOS);
    margin-bottom: 2rem;
}


.widget-curso .no-margin{
    margin-bottom: 1rem;
}
.entrada__imagen--social{
    margin-bottom: 1rem;
}

.footer{
    background-color: #8fbdeb;
    padding: 1rem 0;
    margin-top: 1rem;
    text-align: center;
}
.footer__enlace{
    text-decoration: none;
    color: var(--negro);
    font-weight: bold;
}

/* Quienes somos */
@media (min-width: 768px) { 
    .contenedor__nosotros{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 4rem;
        margin-top: 2rem;
    }
}

.logo__nosotros{
    margin: 0 auto;
    display: block;
    max-width: 60%;
}
@media (min-width: 768px) { 
    .logo__nosotros{
        margin-top: 16rem;
    }
 }
.title__nosotros{
    text-align: center;
}
.p_nosotros{
    font-size: 2.3rem;
    text-align: center;
}
.text__nosotros{
    text-align: center;
}

/* Precios */
.li__precios{
    list-style: none;
}
.pasos__precios{
    margin: 0 auto;
    display: block;
}

/* Testimonios */
.title__testimonios{
    text-align: center;
}
.title__testimonios-h4{
    text-align: center;
    font-size: 2rem;
}
@media (min-width: 768px) { 
    .servicios{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
 }
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}
.servicio p{
    line-height: 2;/* Interlineado */
    text-align: center;
}



/* Tips */
.sudo__tips{
    margin: 0 auto;
    display: block;
}

/* Hotcakes */
.ingredientes{
    list-style: none;
}
.espacio__hot{
    margin-top: 1.8rem;
}
.p__espacio{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Sudor */
.sudo__imagen{
    margin: 0 auto;
    display: block;
}

/* Dejar de Comer */
.dejar__espacio{
    margin-bottom: 1.6rem;
}
/* Programa Online */
.programa__online{
    margin: 0 auto;
    display: block;
    width: 42%;
}
.programa__online__swidth{
    margin: 0 auto;
    display: block;
}